:root {
    --color-yellow: #F0A500;
    --color-green: #32502E;
    --color-purple: #7027A0;
    --color-pink: #FD6F96;
    --color-white: #fff;
    --color-brown: #A45D5D;
    --color-gray: #00A19D;
}